<button mat-raised-button color="primary" (click)="addNewItem()">Primary</button>

<ng-container *ngIf="data$ | async as data">
  <mat-table [dataSource]="data.items" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="section">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.section}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="co2">
      <mat-header-cell *matHeaderCellDef> co2 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.co2}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="feeling">
      <mat-header-cell *matHeaderCellDef> feeling </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.feeling}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</ng-container>