<form [formGroup]="itemForm">
  <mat-form-field appearance="fill">
    <mat-label>Sector</mat-label>
    <mat-select formControlName="sector">
      <mat-option *ngFor="let sector of sectors" [value]="sector.value">
        {{sector.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="">
    <mat-label>CO2</mat-label>
    <input type="number" matInput formControlName="co2" placeholder="123">
  </mat-form-field>

  <button mat-raised-button (click)="editEmoji()">Edit</button>
  <button mat-raised-button (click)="submit()">Submit</button>
</form>