@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ctrl/ngx-emoji-mart/picker";

.app-wrapper {
  padding: 1rem;

  @media screen and (min-width: 768px) {
    padding: 2rem 3rem;
    max-width: 760px;
  }

  @media screen and (min-width: 992px) {
    display: flex;
    .add-item-wrapper {
      width: 40vw;
    }

    .list-item-wrapper {
      width: 50vw;
    }
  }
}
